<div class="transferBox">
  <div class="transferBox__left d-flex flex-column align-items-center">
    <!-- -------------------------------------------caja del saldo -->
    <div class="transferBox__left__box d-flex flex-column">
      <h3>Saldo Actual</h3>
      <div class="transferBox__left__box__balance">
        <span>$100.50</span>
      </div>
      <button (click)="showFilters()" >Transferir</button>
    </div>
    <!-- -----------------------------------------------caja de filtros -->
    <div *ngIf="isShowFilter" [@fadeEffect] class="transferBox__left__filter">
      <button (click)="showResults('data')">Usar datos</button>
      <button (click)="showResults('cvu')">Usar cbu/cvu</button>
    </div>
    <!--  ----------------------------------------caja de busqueda por datos-->
    <div *ngIf="isShowResult" [@fadeEffect] class="transferBox__left__searchBox">
      <div class="transferBox__left__searchBox__field d-flex">
        <input
        [@lateralEffect]
        *ngIf="showSearchData"
          type="text"
          id="searchData"
          placeholder="email,nombre o cel"
        />
        <input
        [@lateralEffect]
        *ngIf="showSearchCVU"
          type="number"
          id="searchCVU"
          min="0"
          placeholder="CVU/CBU">
        <label [for]="showSearchData?'searchData':'searchCVU'">
          <img src="assets/search.png" alt="search_icon" />
        </label>
      </div>
      <ul class="transferBox__left__searchBox__resultList list-unstyled">
        <li (click)="showContact()" class="transferBox__left__searchBox__resultList__item">
          <img src="assets/DNI.png" alt="dni_icon" />
          <div class="transferBox__left__searchBox__resultList__item__info">
            <span>Juan Carlos Velazco ALvarado</span>
            <span class="text-white">Cashier App</span>
          </div>
        </li>
        <li class="transferBox__left__searchBox__resultList__item">
          <img src="assets/DNI.png" alt="dni_icon" />
          <div class="transferBox__left__searchBox__resultList__item__info">
            <span>Juan Carlos Velazco ALvarado</span>
            <span class="text-white">Cashier App</span>
          </div>
        </li>
        <li class="transferBox__left__searchBox__resultList__item">
          <img src="assets/DNI.png" alt="dni_icon" />
          <div class="transferBox__left__searchBox__resultList__item__info">
            <span>Juan Carlos Velazco ALvarado</span>
            <span class="text-white">Cashier App</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="transferBox__left__cvuSearchBox">

    </div>
  </div>
  <!-- ------------------------------------------------caja derecha -->
  <div class="transferBox__right">
    <form class="transferBox__right__form" [@fadeEffect] *ngIf="isShowContact">
      <div class="transferBox__right__form__imgBox">
        <img src="assets/DNI.png" alt="dni_icon" />
      </div>
      <div class="transferBox__right__form__field">
        <span>Para:</span>
        <div class="transferBox__right__form__field__address">
          <span>Juanito Alimaña</span>
          <span>Cashier App</span>
        </div>
      </div>
      <div class="transferBox__right__form__field">
        <span>CVU/CBU:</span>
        <span>123</span>
      </div>
      <div class="transferBox__right__form__field">
        <label for="issue">Motivo:</label>
        <select id="issue">
          <option value="seguro">Seguros</option>
          <option value="alquiler">Alquileres</option>
          <option value="honorario">Honorarios</option>
          <option value="compra">Compras</option>
          <option selected value="varios">varios</option>
        </select>
      </div>
      <div class="transferBox__right__form__fieldAmount">
        <label for="amount">Cuanto desea transferir</label>
        <input type="number" id="amount" placeholder="Ej. $100.00" min="0"/>
      </div>
      <p>Saldo: $100.50</p>
      <button (click)="showAlert()" type="submit">Transferir</button>
      <div [@lateralEffect] *ngIf="isShowActions" class="transferBox__right__form__actions">
        <button class="transferBox__right__form__actions__btnBox">
          <div>
            <img src="assets/share.png" alt="share_icon">
          </div>
          <span>Comprobante</span>
        </button>
        <button class="transferBox__right__form__actions__btnBox">
          <div>
            <img src="assets/transfer.png" alt="transfer_icon">
          </div>
          <span>Nueva <br>  Transferencia</span>
        </button>
        <button class="transferBox__right__form__actions__btnBox">
          <div>
            <img src="assets/shop.png" alt="shop_icon">
          </div>
          <span>Pagar <br> Servicio</span>
        </button>
      </div>
    </form>
    <div class="transferBox__right__alert" [@fadeEffect] *ngIf="isShowAlert">
      <div class="transferBox__right__alert__imgBox">
        <img src="assets/check-circle.png" alt="check-circle_icon">
      </div>
      <h5>!Transferencia exitosa¡</h5>
      <p class="transferBox__right__alert__ref">Referencia 12345-1</p>
      <p class="transferBox__right__alert__time">06/06/2000 16:30hrs</p>
    </div>
  </div>
</div>
