<div class="footer d-flex align-items-center" #collapse>
  <h5 class="footer__title">Proximamente...</h5>
  <div class="footer__card">
    <div class="footer__card__imgBox">
      <img src="assets/apple.png" alt="apple_icon" />
    </div>
    <div class="footer__card__box">
      <p>Download on the</p>
      <p class="fw-bold">App Store</p>
    </div>
  </div>
  <div class="footer__card">
    <div class="footer__card__imgBox">
      <img src="assets/playStore.png" alt="apple_icon" />
    </div>
    <div class="footer__card__box">
      <p>Download on the</p>
      <p class="fw-bold">Play Store</p>
    </div>
  </div>
</div>
