:host {
  display: flex;
  position: relative;

  app-side-bar-alt{
    width: 25%;
    transition: all ease-in-out 0.5s;
  }
  .user-container{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .user-dashboard{
      background-color: red;
      flex-grow: 2;
    }
  }
}
@media screen and (max-width:768px) {
  app-side-bar-alt{
    width: 7% !important;
  }
}
@media screen and (max-width:600px) {
  app-side-bar-alt{
    width: 10% !important;
  }
}
@media screen and (max-width:450px) {
  app-side-bar-alt{
    width: 15% !important;
  }
}

.sidebarCollapse{
  position: absolute;
  z-index: 3;
  width: 60% !important;
}
