<div class="container container-fluid">
    <div class="row pt-5">
        <div class="col-sm text-center">
            <label >Tienes disponible</label>
            <div>
                <span class="saldo">${{saldo}}</span>
            </div>
        </div>

        <div class="col-sm text-center my-auto mx-auto">
            <button type="button" class="btn btn-success btnCvu">Ver CVU</button>
        </div>
    </div>

    <div class="row container2">

    </div>

    <div class="row">
        <div class="col-sm mt-4 mb-4">
            
            <div class="col-lg-12 d-flex justify-content-between">
                <div class="ms-2 movement">
                    <label >Movimientos</label>
                </div>
                <div class="metric">
                    <button type="button" class="btn btn-success btnCvu">Ver Métricas</button>
                </div>
            </div>
            <div class="container mt-2">
                <div class="input-group"> <!-- Utiliza input-group de Bootstrap -->
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary search-button">
                            <i class="fas fa-search search-icon"></i>
                        </button>
                    </div>
                    <input style="color: white;" type="text" class="form-control search-input" placeholder="Buscar...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary search-button">
                            <i class="fas fa-filter search-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        
    </div>


    <div class="row">
        <div class="col-sm">
            <div class="card border-primary mb-3">
                <div class="card-body text-primary">
                    <div class=" table table-responsive table-striped ms-4">
                        <table *ngIf="clientes.length == 0; else noClientes" class="table ">


                            <tbody>
                                <tr>
                                    
                                    <td><i class="fas fas fa-exchange-alt exchangeSuccess"></i>
                                    </td>
                                    <td class="text-center">Jane Smith<br>Transferencia enviada</td>
                                    <td class="text-center">${{monto}}<br>{{fecha}}</td>
                                </tr>

                                <tr>
                                    <td><i class="fas fas fa-exchange-alt exchangePending"></i>
                                    </td>
                                    <td class="text-center">Jane Smith<br>Transferencia pendiente</td>
                                    <td class="text-center">${{monto}}<br>{{fecha}}</td>
                                </tr>
                                <tr>
                                    <td><i class="fas fas fa-exchange-alt exchangeCancel"></i>
                                    </td>
                                    <td class="text-center">Jane Smith<br>Transferencia cancelada</td>
                                    <td class="text-center">${{monto}}<br>{{fecha}}</td>
                                </tr>

                                <tr>
                                    <td ><i class="fas fas fa-exchange-alt exchangeCancel"></i>
                                    </td>
                                    <td class="text-center">Jane Smith<br>Servicio pagado</td>
                                    <td class="text-center">${{monto}}<br>{{fecha}}</td>
                                </tr>

                                <tr>
                                    <td ><i class="fas fas fas fa-file-invoice-dollar exchangeSuccess"></i>
                                    </td>
                                    <td class="text-center">Jane Smith<br>jane@example.com</td>
                                    <td class="text-center">${{monto}}<br>{{fecha}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #noClientes>
                        <div class="alert alert-info">
                            No hay clientes en la base de datos
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>