<div class="container ">
  <button
    class="btn btn-primary w-25 "
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasScrolling"
    aria-controls="offcanvasScrolling"
  >
    <img class="w-75 justify-content-center align-item-center " src="../../assets/Cashier-logo-transparent.png" alt="" sizes="10px" srcset="">
  </button>

  <div
    class="offcanvas offcanvas-start mt-5 "
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
        Cerrar
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <button class="btn btn-offline-dark ">🏚️ Inicio</button>
      <hr />
      <button class="btn btn-offline-dark">
        <img class="w-25" src="./assets/tarjeta.png" alt="tarjeta" />
        Tarjeta
      </button>
      <button class="btn btn-offline-dark">
        <img class="w-25" src="./assets/tarjeta.png" alt="tarjeta" />
        Tranferencia
      </button>
      <button class="btn btn-offline-dark">
        <img class="w-25" src="./assets/tarjeta.png" alt="tarjeta" />
        Carga de dinero
      </button>
      <button class="btn btn-offline-dark">
        <img class="w-25" src="./assets/tarjeta.png" alt="tarjeta" />
        Inversiones
      </button>
      <button class="btn btn-offline-dark">
        <img class="w-25" src="./assets/tarjeta.png" alt="tarjeta" />
        Consumo en cuotas
      </button>
      <button class="btn btn-offline-dark">
        <img class="w-25" src="./assets/tarjeta.png" alt="tarjeta" />
        Préstamos 
      </button>
      <button class="btn btn-offline-dark">
        <img class="w-25" src="./assets/tarjeta.png" alt="tarjeta" />
        Pagos y recargas 
      </button>
      <button class="btn btn-offline-dark">
        <img class="w-25" src="./assets/tarjeta.png" alt="tarjeta" />
        Promociones 
      </button>
      <button class="btn btn-offline-dark">
        <img class="w-25" src="./assets/tarjeta.png" alt="tarjeta" />
        Ayuda 
      </button>
      <button class="btn btn-offline-dark">
        <img class="w-25" src="./assets/tarjeta.png" alt="tarjeta" />
        Cerrar Sesión 
      </button>
    </div>
  </div>
</div>
