<div class="cardInfo">
 <div class="cardInfo__boxLeft d-flex flex-column align-items-center">
  <div class="cardInfo__boxLeft__creditCard">
    <img src="assets/cardImg.png" alt="cardImg_icon">
    <h3 class="cardInfo__boxLeft__creditCard__title">Tarjeta Virtual</h3>
    <p class="cardInfo__boxLeft__creditCard__subtitle">Terminado en 1943</p>
    <button (click)="showData()">Ver datos de la tarjeta</button>
  </div>
  <div class="cardInfo__boxLeft__info">
    <h5>Con tu tarjeta virtual podes</h5>
    <div class="cardInfo__boxLeft__info__promo">
      <div class="imgContainer">
        <img src="assets/car.png" alt="car_icon">
      </div>
      <span>Hacer compras online</span>
    </div>
    <div class="cardInfo__boxLeft__info__promo">
      <div class="imgContainer">
        <img src="assets/ticket.png" alt="ticket_icon">
      </div>
      <span>Transferir dinero</span>
    </div>
  </div>
 </div>
  <app-credit-card-child [show]="childStatus"
  (emitShowStatus)="receiveChildStatus($event)"
  [ngClass]="childStatus?'active':''"></app-credit-card-child>
</div>
