<nav class="sidebar d-flex flex-column">
  <div class="sidebar__logo" #collapse>
    <img src="assets/cashier1.png" alt="cashier-logo" />
  </div>
  <div class="sidebar__menuBtn">
    <button (click)="setSidebarStatus()" class="btn btn-outline-none">
      <img src="assets/menu.png" alt="menu-icon" />
    </button>
  </div>
  <ul class="sidebar__list list-unstyled d-flex flex-column">
    <li class="rounded">
      <a
        class="text-decoration-none"
        routerLinkActive="text-success"
        routerLink="home"
      >
        <img src="assets/home.png" alt="_icon" /><span #collapse
          >Inicio</span
        ></a
      >
    </li>
    <li class="rounded">
      <a
        class="text-decoration-none"
        routerLinkActive="text-success"
        routerLink="credit-card"
      >
        <img src="assets/card.png" alt="_icon" /><span #collapse
          >Tarjeta</span
        ></a
      >
    </li>
    <li class="rounded">
      <a
        class="text-decoration-none"
        routerLinkActive="text-success"
        routerLink="service"
      >
        <img src="assets/shop.png" alt="_icon" /><span #collapse
          >Servicios</span
        ></a
      >
    </li>
    <li class="rounded">
      <a
        class="text-decoration-none"
        routerLinkActive="text-success"
        routerLink="#"
      >
        <img src="assets/finance.png" alt="_icon" /><span #collapse
          >M&eacute;tricas</span
        ></a
      >
    </li>
    <li class="rounded">
      <a
        class="text-decoration-none"
        routerLinkActive="text-success"
        routerLink="promo"
      >
        <img src="assets/sale.png" alt="_icon" /><span #collapse
          >Promociones</span
        ></a
      >
    </li>
    <li class="rounded">
      <a
        class="text-decoration-none"
        routerLinkActive="text-success"
        routerLink="transfer"
      >
        <img src="assets/transfer.png" alt="_icon" /><span #collapse
          >Transferencia</span
        ></a
      >
    </li>
    <li class="rounded">
      <a
        class="text-decoration-none"
        routerLinkActive="text-success"
        routerLink="help"
      >
        <img src="assets/help.png" alt="_icon" /><span #collapse>Ayuda</span></a
      >
    </li>
  </ul>
  <div class="sidebar__info d-flex flex-column align-items-center" #collapse>
    <h5 class="sidebar__info__title">Proximamente...</h5>
    <div class="sidebar__info__card">
      <img src="assets/apple.png" alt="apple_icon" />
      <div class="sidebar__info__card__box">
        <p>Download on the</p>
        <p class="fw-bold">App Store</p>
      </div>
    </div>
    <div class="sidebar__info__card">
      <img src="assets/playStore.png" alt="apple_icon" />
      <div class="sidebar__info__card__box">
        <p>Download on the</p>
        <p class="fw-bold">Play Store</p>
      </div>
    </div>
  </div>
</nav>
