<div class="promoBox">
  <div class="promoBox__card">
    <img class="promoBox__card__logo" src="assets/epsLogo.jpg" alt="eps-logo">
    <span>10% de descuento en pago de facturas a EPS</span>
  </div>
  <div class="promoBox__card">
    <img class="promoBox__card__logo" src="assets/enelLogo.jpg" alt="enel-logo">
    <span>5% de descuento en pago de facturas a ENEL</span>
  </div>
  <div class="promoBox__card">
    <img class="promoBox__card__logo" src="assets/pichinchaLogo.png" alt="pichincha-logo">
    <span>$5 de descuento en transacciones al banco Pichincha.</span>
  </div>
  <div class="promoBox__card">
    <img class="promoBox__card__logo" src="assets/saludLogo.png" alt="salud-logo">
    <span>0% de comisi&oacute;n en pago de Seguro de salud.</span>
  </div>
</div>
