$colGreenDark:#153230;
$colGreenLight:#1DE290;
$colWhite:#F9FCF8;
$colBlack:#161719;
$colGray:#6C757D;

@function changeOpacity($color, $opacity){
  @return rgba($color, $opacity);
}
@mixin changeColorPng ($color){
  filter: drop-shadow(0 100px 0 $color);
  transform: translateY(-100px);
}
@mixin transitionFast{
  transition: all ease-in-out 0.3s;
}
@mixin btnStyle($style, $color){
  all:initial;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  cursor: pointer;
  font-family: inherit;
  @include transitionFast;
  border:solid 2px $color;
  &:hover{
    transform: translateY(-4px) scale(1.1);
  }

  @if $style == "fill"{
    background-color: $color;
    color: $colBlack;
    &:hover{
      background-color: changeOpacity($color, 0.7);
    }
  }
  @else if $style == "empty"{
    background-color: transparent;
    color: $color;
    &:hover{
      background-color: changeOpacity($color, 0.2);
    }
  }
}
