<div class="cardDetailBox">
  <div class="cardDetailBox__card">
    <div class="cardDetailBox__card__magnet"></div>
    <div class="cardDetailBox__card__info">
      <p>1234 1234 1234 1234</p>
      <p>JUANITO ALIMAÑA</p>
    </div>
  </div>
  <div class="cardDetailBox__details">
    <div class="cardDetailBox__details__field">
      <span>Nro de trajeta</span>
      <div class="copy">
        <span>1234 1234 1234 1234</span
        ><img src="assets/copy.png" alt="copy_icon" />
      </div>
    </div>
    <div class="cardDetailBox__details__field">
      <span>Codigo de seguridad</span><span>123</span>
    </div>
    <div class="cardDetailBox__details__field">
      <span>Fecha de vencimiento</span><span>12/31</span>
    </div>
    <div class="cardDetailBox__details__field">
      <span>Nombre del titular</span><span>Juanito Alimaña</span>
    </div>
  </div>
  <div class="cardDetailBox__close">
    <button class="btn bg-transparent" (click)="windowClose()"><img src="assets/close.svg" alt=""></button>
  </div>
</div>
