<body>
    <div class="container-list" *ngIf="window === true">
        
        <div class="data-list">
            <button class="close-window" (click)="windowClose()"><i class="fa-solid fa-xmark fa-lg"></i></button>
            <div class="container">
                <div class="magnetic"></div>
                <div class="username">
                    <li>JUANITO ALIMAÑA</li>
                </div>
    
                <div class="card-number">
                    <li>1234 1234 1234 1234</li>
                </div>
            </div>
            <div class="list-data">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">Nro. de tarjeta</li>
                    <li class="list-group-item">1234 1234 1234 1234</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">Cod. de seguridad</li>
                    <li class="list-group-item">123</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">Fecha de vencimiento</li>
                    <li class="list-group-item">31/12</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">Nombre del titular</li>
                    <li class="list-group-item">Juanito Alimaña</li>
                </ul>
            </div>
            
        </div>
    
    </div>
        
</body>

