.data-list {
    display: block;
    position: absolute;
    margin-left: 80%;
    float: right;
    margin-left: 80%;
    transform: translateX(-50%);
    z-index: 1;
    animation-name: formMove;
    animation-duration: .5s;
}

@keyframes formMove {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%);
        opacity: 1;
    }
    
}
.magnetic {
    background-color: black;
    transform: translateY(100%);
    width: 300px;
    height: 40px;
    padding-left: 0;
    margin-left: 0;

}
.container {
    background-color: #FFFFFF;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    position: relative;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 25px;
}

.username li{
    font-weight: bold;
    font-size: larger;
    padding-left: 20px;
    list-style: none;
    transform: translateY(430%);
}

.card-number {
    font-size: medium;
    padding-left: 20px;
    list-style: none;
    transform: translateY(300%);
}

.list-data ul{
    
    margin-bottom: 5px;
    border-bottom: black 2px solid;
}

.list-data ul li{
    width: 200px;
    background-color: #153230;
    border: none;
    color: #C0C9C6;
    border-radius: 0;
}

.close-window {
    position: relative;
    float: right; 
    background-color: #153230;
    color: #1BB678; 
    border: none; 
}