@import "../../../../stylesConfig/config";
:host{
  position: absolute;
  top: 0;
  right: -150%;
  height: 100%;
  background-color: $colGreenDark;
  transition: ease-in-out all 0.5s;
  padding-inline: 1rem;
}
.cardDetailBox{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  &__card{
    background-color: $colWhite;
    border-radius: 1rem;
    width: max(200px,100%);
    &__magnet{
      background-color: gray;
      height: 50px;
      margin-top: 30px;
    }
    &__info{
      margin-top: 50px;
      padding-inline: 1rem;
    }
  }
  &__details{
    display: flex;
    flex-direction: column;
    width: min(500px,100%);
    &__field{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid gray 2px;
      color: $colWhite;
      padding-bottom: 0.5rem;
    }
    .copy{
      overflow-y: hidden;
      img{
        @include changeColorPng($colGreenLight);
        width: 2rem;
        margin-left: 0.5rem;
      }
    }
  }

  &__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: $colWhite;
  }
}
