<div class="loginBox d-flex">
  <div class="loginBox__left w-50">
    <div class="loginBox__left__container">
      <!-- -----------------------------------------contenedor del logo -->
      <div
        class="loginBox__left__container__imgContainer d-flex justify-content-center mb-5"
      >
        <img src="assets/cashier1.png" alt="logo_icon" />
      </div>
      <!-- ------------------------------formulario de registro -------------->
      <form class="loginBox__left__container__form">
        <div class="loginBox__left__container__form__field">
          <label for="names">Nombre</label>
          <div class="loginBox__left__container__form__field__box">
            <input type="text" id="names" placeholder="Nombre" />
            <img src="assets/icon.png" alt="person_icon" />
          </div>
        </div>

        <div class="loginBox__left__container__form__field">
          <label for="apell">Apellido </label>
          <div class="loginBox__left__container__form__field__box">
            <input type="text" id="apell" placeholder="Apellido" />
            <img src="assets/icon.png" alt="person_icon" />
          </div>
        </div>

        <div class="loginBox__left__container__form__field">
          <label for="dni">DNI </label>
          <div class="loginBox__left__container__form__field__box">
            <input type="text" id="dni" placeholder="12131214" />
            <img src="assets/DNI.png" alt="id_icon" />
          </div>
        </div>

        <div class="loginBox__left__container__form__field">
          <label for="phone">Tel&eacute;fono</label>
          <div class="loginBox__left__container__form__field__box">
            <input type="text" id="phone" placeholder="12-123 123 123 123" />
            <img src="assets/Phone.png" alt="phone_icon" />
          </div>
        </div>

        <div class="loginBox__left__container__form__field">
          <label for="mail">Correo</label>
          <div class="loginBox__left__container__form__field__box">
            <input type="email" id="mail" placeholder="ejemplo@gmail.com" />
            <img src="assets/email.png" alt="mail_icon" />
          </div>
        </div>

        <div class="loginBox__left__container__form__field">
          <label for="dateBorn">Fecha de nacimiento</label>
          <div class="loginBox__left__container__form__field__box">
            <input type="date" id="dateBorn" />
            <img src="assets/date.png" alt="date_icon" />
          </div>
        </div>

        <div class="loginBox__left__container__form__field">
          <label for="address">Direcci&oacute;n </label>
          <div class="loginBox__left__container__form__field__box">
            <input type="text" id="address" placeholder="Av. Los perales #123" />
            <img src="assets/address.png" alt="pinmap_icon" />
          </div>
        </div>

        <div class="loginBox__left__container__form__field">
          <label for="pass">Contraseña </label>
          <div class="loginBox__left__container__form__field__box">
            <input type="password" id="pass" placeholder="********" />
            <img src="assets/llave.png" alt="key_icon" />
            <button>
              <img class="eye" src="assets/eyeClose.png" alt="eye_icon" />
            </button>
          </div>
        </div>

        <div class="loginBox__left__container__form__field">
          <label for="repeatpass">Repetir contraseña </label>
          <div class="loginBox__left__container__form__field__box">
            <input type="password" id="repeatpass" placeholder="********" />
            <img src="assets/llave.png" alt="key_icon" />
            <button>
              <img class="eye" src="assets/eyeClose.png" alt="eye_icon" />
            </button>
          </div>
        </div>

        <div class="loginBox__left__container__form__actions">
          <button (click)="toLogin()" type="submit" class="btnLogin">Iniciar Sesión</button>
          <button type="submit" class="btnRegist">Registrarse</button>
        </div>
      </form>
      <!---------------------- terminos y condiciones ----------------------->
      <div class="loginBox__left__container__terms d-flex justify-content-end">
        <a class="ms-2" href="#">Privacidad</a>
        <a class="ms-2" href="#">Condiciones</a>
      </div>
    </div>
  </div>
  <div class="loginBox__right w-50">
    <img src="assets/imgLogin.png" alt="img-login" />
  </div>
</div>
<app-footer></app-footer>
