<div class="d-flex">
    <div class="float-start izq">
      <div class="container justify-content-center align-items-center">
        <div class="container-fluid text-center mt-5">
          <img src="../../../../assets/cashier 1.png" alt="" />
        </div>
        <form class="text-green-special mx-5 mt-5" action="" >
          <div class="mx-5 mb-3">
            <label class="pb-0" for="nombre"
              >Nombre
              <img src="../../../../assets/icon.png" alt="Imagen Placeholder" />
            </label>
  
            <input
              class="form-control text-light "
              type="text"
              id="nombre"
              placeholder=" ingresa nombre"
            />
            <hr class="text-light" />
          </div>
          <div class="mx-5 mb-3">
            <label class="pb-0" for="apellido"
              >>Apellido
              <img src="../../../../assets/icon.png" alt="Imagen Placeholder" />
            </label>
  
            <input
              class="form-control text-light "
              type="text"
              id="apellido"
              placeholder=" ingresa apellido"
            />
            <hr class="text-light" />
          </div>
          <div class="mx-5 mb-3">
            <label class="pb-0" for="dni"
              >DNI
              <img src="../../../../assets/DNI.png" alt="Imagen Placeholder" />
            </label>
  
            <input
              class="form-control text-light "
              type="number"
              id="dni"
              placeholder="ingrese DNI"
            />
            <hr class="text-light" />
          </div>
          <div class="mx-5 mb-3">
            <label class="pb-0" for="telefono"
              >Teléfono
              <img src="../../../../assets/Phone.png" alt="Imagen Placeholder" />
            </label>
  
            <input
              class="form-control text-light "
              type="text"
              id="telefono"
              placeholder=" ingresa telefono"
            />
            <hr class="text-light" />
          </div>
          <div class="mx-5 mb-3">
            <label class="pb-0" for="email"
              >Email
              <img src="../../../../assets/email.png" alt="Imagen Placeholder" />
            </label>
  
            <input
              class="form-control text-light "
              type="text"
              id="email"
              placeholder=" ingresa email"
            />
            <hr class="text-light" />
          </div>
          <div class="mx-5 mb-3">
            <label class="pb-0" for="fecha_nac"
              >Fecha de nacimiento
              <img src="../../../../assets/date.png" alt="Imagen Placeholder" />
            </label>
  
            <input
              class="form-control text-light "
              type="date"
              id="fecha_nav"
              nacceholder=" ingresa fecha_nac"
            />
            <hr class="text-light" />
          </div>
          <div class="mx-5 mb-3">
            <label class="pb-0" for="direccion"
              >Dirección
              <img src="../../../../assets/address.png" alt="Imagen Placeholder"
            /></label>
            <div class="input-container">
              <input
                class="form-control text-light"
                type="password"
                id="direccion "
                placeholder="ingrese direccion"
              />
              <hr class="text-light" />
            </div>
          </div>
          <div class="mx-5 mb-3">
            <label class="pb-0" for="password">
              Contraseña
              <img src="../../../../assets/llave.png" alt="Imagen Placeholder" />
            </label>
            <div class="input-container">
              <input
                class="form-control text-light"
                type="password"
                id="password"
                placeholder="ingrese contraseña"
              />
              <hr class="text-light" />
            </div>
          </div>
          
          <div class="mx-5 mb-3">
            <label class="pb-0" for="password2">
              Repite contraseña
              <img src="../../../../assets/llave.png" alt="Imagen Placeholder" />
            </label>
            <div class="input-container">
              <input
                class="form-control text-light"
                type="password"
                id="password2"
                placeholder="repite contraseña"
              />
              <hr class="text-light" />
            </div>
          </div>
          
          <div class="text-center">
            <div class="my-4 ">
              <button class="btn btn-green me-5 ">Iniciar Sesión</button>
              <button type="submit" class="btn btn-outline-green">Registrar</button>
            </div>
          </div>
          <a class="text-green-special float-end ps-2" href="">Condiciones</a>
          <a class="text-green-special float-end" href="">Privacidad</a>
        </form>
      </div>
    </div>
    <div class="float-end der">
      <div class="container-fluid text-center align-items-center mt-5">
        <img
          class="mt-5"
          src="../../../../assets/image 4login.png"
          alt=""
          sizes=""
          srcset=""
        />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  