<div class="d-flex h-100">
  <div class="float-start izq">
    <div class="container justify-content-center align-items-center">
      <div class="container-fluid text-center mt-5">
        <img src="../../../../assets/cashier 1.png" alt="" />
      </div>
      <form class="text-green-special mx-5 mt-5" action="">
        <div class="mx-5 mb-3">
          <label class="pb-0" for="usuario"
            >Usuario
            <img src="../../../../assets/icon.png" alt="Imagen Placeholder" />
          </label>

          <input
            class="form-control text-light "
            type="text"
            id="formFile"
            placeholder=" ingresa usuario"
          />
          <hr class="text-light" />
        </div>
        <div class="mx-5 mb-3">
          <label class="pb-0" for="usuario"
            >Contraseña
            <img src="../../../../assets/llave.png" alt="Imagen Placeholder"
          /></label>
          <div class="input-container">
            <input
              class="form-control text-light"
              type="password"
              id="formFile "
              placeholder="ingrese contraseña"
            />
            <hr class="text-light" />
          </div>
        </div>
        <div class="text-center">
          <div class="my-4">
            <button class="btn btn-green">Iniciar Sesión</button>
          </div>
          <div class="mb-4">
            <button class="btn btn-outline-green">Registrarse</button>
          </div>
        </div>
        <a class="text-green-special float-end ps-2" href="">Condiciones</a>
        <a class="text-green-special float-end" href="">Privacidad</a>
      </form>
    </div>
  </div>
  <div class="float-end der">
    <div class="container-fluid text-center align-items-center mt-5">
      <img
        class="mt-5"
        src="../../../../assets/image 4login.png"
        alt=""
        sizes=""
        srcset=""
      />
    </div>
  </div>
</div>
<app-footer></app-footer>
