<div class="loginBox d-flex">
  <div class="loginBox__left w-50">
    <div class="loginBox__left__container">
      <!-- -----------------------------------------contenedor del logo -->
      <div
        class="loginBox__left__container__imgContainer d-flex justify-content-center mb-5"
      >
        <img src="assets/cashier1.png" alt="logo_icon" />
      </div>
      <!-- ------------------------------formulario de login -------------->
      <form class="loginBox__left__container__form">
        <div class="loginBox__left__container__form__field">
          <label for="user">Usuario</label>
          <div class="loginBox__left__container__form__field__box">
            <input type="text" id="user" placeholder="Nombre de usuario" />
            <img src="assets/icon.png" alt="person_icon" />
          </div>
        </div>

        <div class="loginBox__left__container__form__field">
          <label for="pass">Contraseña </label>
          <div class="loginBox__left__container__form__field__box">
            <input type="password" id="pass" placeholder="********" />
            <img src="assets/llave.png" alt="key_icon" />
            <button>
              <img class="eye" src="assets/eyeClose.png" alt="eye_icon" />
            </button>
          </div>
        </div>

        <div class="loginBox__left__container__form__actions">
          <button (click)="login()" type="submit" class="btnLogin">Iniciar Sesión</button>
          <button (click)="toRegist()" type="submit" class="btnRegist">Desea Registrarse?</button>
        </div>
      </form>
      <!---------------------- terminos y condiciones ----------------------->
      <div class="loginBox__left__container__terms d-flex justify-content-end">
        <a class="ms-2" href="#">Privacidad</a>
        <a class="ms-2" href="#">Condiciones</a>
      </div>
    </div>
  </div>
  <div class="loginBox__right w-50">
    <img src="assets/imgLogin.png" alt="img-login" />
  </div>
</div>
<app-footer></app-footer>
