<div class="responseBox m-auto text-white">
  <h3 class="text-center mb-4">campylobacter pylori</h3>
  <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eum iste vel necessitatibus quasi, sequi totam esse odit veniam. Alias explicabo fugit repellendus ipsa aspernatur nulla eligendi amet autem delectus.</p>
  <ul>
    <li>escherichia coli</li>
    <li>escherichia coli</li>
    <li>escherichia coli</li>
    <li>escherichia coli</li>
    <li>escherichia coli</li>
  </ul>
</div>
