<div class="cardDetailBox" *ngIf="cardData; else fallback">
  <div class="cardDetailBox__card">
    <div class="cardDetailBox__card__magnet"></div>
    <div class="cardDetailBox__card__info">
      <p>{{ cardData.cardNumber }}</p>
      <p>{{ cardData.cardName | uppercase }}</p>
    </div>
  </div>
  <div class="cardDetailBox__details">
    <div class="cardDetailBox__details__field">
      <span class="me-2">Nro de trajeta:</span>
      <div>
        <span class="cardDetailBox__details__field__data">{{
          cardData.cardNumber
        }}</span>
        <button class="copyBtn" (click)="copyToClipboard()">
          <img src="assets/copy.png" alt="copy_icon" />
        </button>
      </div>
    </div>
    <div class="cardDetailBox__details__field">
      <span class="me-2">Codigo de seguridad:</span
      ><span class="cardDetailBox__details__field__data">{{
        cardData.securityCode
      }}</span>
    </div>
    <div class="cardDetailBox__details__field">
      <span class="me-2">Fecha de vencimiento:</span
      ><span class="cardDetailBox__details__field__data">{{
        cardData.expirationDate
      }}</span>
    </div>
    <div class="cardDetailBox__details__field">
      <span class="me-2">Titular:</span>
      <span class="cardDetailBox__details__field__data">
        {{cardData.cardName | titlecase}}
      </span>
    </div>
  </div>
  <div class="cardDetailBox__close">
    <button class="btn bg-transparent" (click)="windowClose()">
      <img src="assets/close.svg" alt="" />
    </button>
  </div>
</div>
<ng-template #fallback>
  <div class="loader">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
