<form class="form d-flex mb-5 rounded-4 overflow-auto w-50">
  <button type="submit" class="form__btn btn btn-success">
    <img src="assets/search.png" alt="" />
  </button>
  <input type="text" class="form__field w-100 px-2" placeholder="Escriba su Preguntas" />
</form>
<div class="questionContainer d-flex flex-column align-items-center">
  <h4 class="text-white mb-4">Preguntas frecuentes</h4>
  <ul class="questionContainer__list list-unstyled">
    <li class="mb-2"><a  class="text-decoration-none text-white" href="#">1. ¿Como pago un servicio?</a></li>
    <li class="mb-2"><a  class="text-decoration-none text-white" href="#">2. ¿Como transferir dinero a otra persona?</a></li>
    <li class="mb-2">
      <a  class="text-decoration-none text-white" href="#">3. ¿Como puedo ver los detalles de la ultima transferencia?</a>
    </li>
    <li class="mb-2"><a  class="text-decoration-none text-white" href="#">4. ¿Como retirar dinero?</a></li>
    <li class="mb-2"><a  class="text-decoration-none text-white" href="#">5. ¿Como cerrar sesión?</a></li>
    <li class="mb-2"><a  class="text-decoration-none text-white" href="#">6. ¿Como recargar dinero?</a></li>
  </ul>
</div>
