@import "../../stylesConfig/config";
:host {
  height: 100%;
}
.transferBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* -------------------------------------------caja de la izquierda */
  &__left {
    background-color: $colGreenDark;
    /* -----------------------------------------------caja de filtros */
  }
  /* ---------------------------------------------caja derecha */
  &__right {
    background-color: changeOpacity($colGreenDark, 0.9);
    display: grid;
    place-items: center;
    padding-block: 45%;
    position: relative;
  }
}
.transferSuccess{
  background-color: $colGreenLight;
}
.transferFail{
  background-color: changeOpacity($colGreenLight, 0.5);
}
@media screen and (min-width: 480px) {
  .transferBox__right {
    padding-block: 30%;
  }
}
@media screen and (min-width: 650px) {
  .transferBox__right {
    padding-block: 20%;
  }
}
@media screen and (min-width: 850px) {
  .transferBox {
    flex-direction: row;
    & > * {
      width: 50%;
    }
    &__right {
      padding-block: 0%;
    }
  }
}

